In [1]:
from PyBTLS.py.bridge.bridge import Bridge
from PyBTLS.py.bridge.flow import LaneFlow, BridgeFlow
from PyBTLS.py.traffic.constant_vehicle import ConstantVehicle
from PyBTLS.py.traffic.garage import Garage, Kernels
import PyBTLS
import numpy as np

***Current In Development Workflow:***
1.    Define IL, Bridge, and traffic (Lane flow, garage, Grave folder, etc)
2.    Execute write_as_txt() for all these files
3.    Set up PyBTLS.ConfigData() object to point to where the txt are saved + other options
4.    PyBTLS.run()
5.    Execute read_outputs() function

In [2]:
# 1. Define IL, Bridge, and traffic (Lane flow, garage, Grave folder, etc)

# Define the bridge
# This is similar to PyCBA syntax
L = [50.0] #m
R = [-1, 0, -1, 0] #Simply supported
bridge = Bridge(L=L, R=R, n_lane=1)

# Define the Load Effects to analyse
# Adding load effects can be done in two ways
# The first way is to use BTLS built-in influence line
# e.g., this is Influence Line 1, which computes moment at midspan
# See BTLS manual for full list of built-in load effects
bridge.add_load_effect(load_effect = 1) 
# Another way to define load effects is by specifiying:
#   load_effect ('M', 'V', or 'R' for moment, shear or reaction)
#   poi         (The point where the load effect is to be measured)
#   max_error   (The maximum error of the IL calculation. Error is relative to actual values.)
# Some other available arguments are:
#   lane_factor (The lane_factor. Can be a list for different factors for each lane, or a singular value for same lane_factor for all. default 1.0)
#   POT         (Minimum LE to be included in Peak Over Threshold (POT) analysis. default to 0.0)
bridge.add_load_effect(load_effect = "M", poi = 3/4 * L[0], max_error = 0.001)
bridge.add_load_effect(load_effect = "M", poi = 1/4 * L[0], max_error = 0.001)
bridge.add_load_effect(load_effect = "V", poi = 1/4 * L[0], max_error = 0.001)

# Defining the lane flow
# Lane flow can be constructed using:
#   - data frame (NOT recommended as it is prone to error)
#   - csv file
#   - default files
# Construction via data frame is done using the Pandas.DataFrame arguments and syntax. See Pandas documentation for details.
# Construction via csv file require you to supply the following arguments:
#   path        (Path to the csv file, in string)
# Construction via the default files can be done using the load_default() method. The method can take the argument:
#   sample      (The sample number, either 1 or 2. Currently there are two default lane flow definitions available. Default to 1)
lane_1 = LaneFlow()
lane_1.load_default()


# Define the Bridge Flows
# Multiple lanes can be created. This is then added to a BridgeFlow object, which describe the flow of all the lanes in the bridge
# Lane can be added at initialisation as list or BtlsFlow object, or after initialisation via:
#   - add() method or other aliases of the method: add_lane_flow(), append(), extend())
#   - insert(idx, lane_flow) : insert new lane flow into the array
#   - list indexing          : This is similar to regular list indexing, e.g. bridge_flow[1] = lane_2, del bridge_flow[0], etc.
bridge_flow = BridgeFlow(lane_1)

# Import traffic files
constant_vehicle = ConstantVehicle()
constant_vehicle.load_default()

garage = Garage()
garage.load_default()

kernels = Kernels()
kernels.load_default()

from PyBTLS.py.traffic.PyBtlsDefaultTraffic import Auxerre #OLD CODE, BUT NO REPLACEMENT YET
grave_traffic = Auxerre #OLD CODE, BUT NO REPLACEMENT YET

In [3]:
# 2. Execute write_as_txt() or write_as_csv() for all the files

# Write as txt/csv all inputs
bridge_path = "Input/bridge.txt"
bridge_flow_path = "Input/lane_flow.csv"
il_path = "Input/IL.txt"
#constant_vehicle_path = "Input/constant_vehicle.csv"
#garage_path = "Input/garage.txt"
#kernels_path = "Input/kernels.csv"
grave_traffic_path = "Input/Traffic"

bridge.write_as_txt(il_path = il_path, bridge_path = bridge_path)
#constant_vehicle.write_as_csv(path = constant_vehicle_path)
#garage.write_as_txt(path = garage_path)
#kernels.write_as_csv(path = kernels_path)
grave_traffic.write_as_csv(path = grave_traffic_path)

bridge_flow._check_lane_clashes()
bridge_flow._check_lane_complete()
#Check that the number of lanes in the bridge_flow is equal to the number of lanes in the bridge
if not len(bridge_flow.lane_flow) == bridge.n_lane:
    ValueError("ERROR: Number of lanes in BridgeFlow is not equal to the number of lanes in Bridge")
bridge_flow.write_as_csv(path = bridge_flow_path)

In [4]:
# 3. Set up PyBTLS.ConfigData() object to point to where the txt are saved + other options

config = PyBTLS.ConfigData()

config.veh_gen_grave(
        lanes_file=bridge_flow_path,
        traffic_folder=grave_traffic_path,
        no_days=10,
        truck_track_width=190.0,
        lane_eccentricity_std=0.0,
    )

"""
config.veh_gen_nominal(
    lanes_file=bridge_flow_path, 
    constant_file=constant_vehicle_path, 
    no_days=10, 
    lane_eccentricity_std=0.0)
"""

"""
config.veh_gen_garage(
    lanes_file=bridge_flow_path, 
    garage_file=garage_path, 
    file_format=4, 
    kernel_file="kernels_path", 
    no_days=10, 
    lane_eccentricity_std=20)
"""

config.flow_gen_NHM(
    vehicle_classification=1, 
    traffic_folder=grave_traffic_path)

# config.flow_gen_constant(vehicle_classification=1, constant_speed=36, constant_gap=10)

# config.flow_gen_congestion(vehicle_classification=1, congested_spacing=26.1, congested_speed=49.7, congested_gap_coef_var=0.05)

# config.flow_gen_freeflow(vehicle_classification=1)

config.simulation(
    bridge_file=bridge_path,
    infline_file=il_path,
    infsurf_file="./IS.txt",
    calc_time_step=0.1,
    min_gvw=35,
)

# config.output_general()


config.output_BM(
    write_blockmax=True, 
    write_summary=True,
    write_vehicle=True,
    write_mixed=True,
    block_size_days=int(1)
    )

# config.output_POT(write_pot=True)

config.output_vehicle_file(
    write_vehicle_file=True,
    vehicle_file_format=4,
    write_flow_stats=True,
    buffer_size=100000)

config.output_stats(
    write_stats=True,
    write_cumulative=True,
    write_intervals=True,
    interval_size=int(24*3600)
    )

# config.output_fatigue(do_rainflow=True)

PyBTLS.run()

Starting simulation...
Day complete...
Reading influence line file: Input/IL.txt
Reading influence surface file: ./IS.txt

*** Warning: Influence Surface file could not be opened

Flushing buffer of 100000 vehicles at 10/1/0 18:33:13.0232
	1	2	3	4	5	6	7	8	9	10

Flushing buffer of 2601 vehicles at 11/1/0 0:0:2.98241

# Analysis
The output of the analysis is store in btls.output object For example, if we're interested in the block maxima seperated by number of vehicles in a crossing:

In [5]:
from PyBTLS.py.output.output_reader import read_interval_statistics_files
from PyBTLS.py.output.output_reader import read_cumulative_statistics_file
from PyBTLS.py.output.output_reader import read_block_maxima_summary_file
from PyBTLS.py.output.output_reader import read_block_maxima_event_separated_vehicles_file
from PyBTLS.py.output.output_reader import read_block_maxima_event_mixed_vehicles_file

In [6]:
bm_event = read_block_maxima_event_separated_vehicles_file(froot="./", bridge_length=np.sum(bridge.L), file_format="MON")
display(bm_event)
for i in bm_event:
    display(i)

[20 x BlockMaximaEvent object at 0x7eff6d022110,
 40 x BlockMaximaEvent object at 0x7eff6d022050,
 40 x BlockMaximaEvent object at 0x7eff6d0aceb0]

20 x BlockMaximaEvent object at 0x7eff6d022110

40 x BlockMaximaEvent object at 0x7eff6d022050

40 x BlockMaximaEvent object at 0x7eff6d0aceb0

Suppose we want to see:  
for a 3 vehicles crossing event, the vehicles that creates the most extreme load_effect for Load Effect 1. We want to see their headway at the maximum loading event.  
We can use regular pandas expressions and methods.

In [7]:
# Shorthand for the output object we're interested in
df = bm_event[0]
# Filter only load_effect 1
df[df['load_effect_num'] == 1]
# Get the critical vehicles
critical_platoon = df["vehicles"][np.argmax(df.max_load_effect)]
#Calculate their headways
arrival_time_in_second = (critical_platoon.second + critical_platoon.minute * 60 + critical_platoon.hour * 3600).to_numpy()
headway = arrival_time_in_second[1:] - arrival_time_in_second[0:-1]

# Display the results
print("Headways of the critical vehicles for 3 vehicles crossing event are:", headway, "seconds")
display(critical_platoon)

Headways of the critical vehicles for 3 vehicles crossing event are: [1.175 0.803] seconds

,head,day,month,year,hour,minute,second,num_axle,num_axle_groups,gvw,...,AW11,AS11,AW12,AS12,AW13,AS13,AW14,AS14,AW15,AS15
0,1001,3,1,2010,20,57,38.280,5,0,43256.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001,3,1,2010,20,57,39.455,5,0,44950.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001,3,1,2010,20,57,40.258,4,0,38000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Other Outputs
Current available outputs that can be imported to Python

In [8]:
read_cumulative_statistics_file(froot = "./", bridge_length=np.sum(bridge.L))

,load_effect,num_events,num_event_vehicles,num_event_trucks,min,max,mean,std_dev,variance,skeweness,kurtosis,event_1_truck,event_2_truck,event_3_truck
0,1,110015,117584,117584,5.03,8870.37,3426.73,1529.69,2339955.11,-0.36,-0.87,102454.0,7553.0,8.0
1,2,110015,117584,117584,7.54,6826.49,2598.60,1147.25,1316191.57,-0.37,-0.88,102454.0,7553.0,8.0
2,3,110015,117584,117584,2.51,6697.86,2638.49,1185.91,1406390.04,-0.34,-0.89,102454.0,7553.0,8.0
3,4,110015,117584,117584,-69.04,493.80,200.43,92.78,8608.19,-0.35,-0.85,102454.0,7553.0,8.0

In [9]:
interval_statistics = read_interval_statistics_files(froot = "./", bridge_length=np.sum(bridge.L))
display(interval_statistics)
for i in interval_statistics:
    display(i)

[Load Effect 3:  9 row(s) of IntervalStatistics object at 0x7eff6d21fc40,
 Load Effect 1:  9 row(s) of IntervalStatistics object at 0x7eff6d21fb50,
 Load Effect 2:  9 row(s) of IntervalStatistics object at 0x7eff6d21eb90,
 Load Effect 4:  9 row(s) of IntervalStatistics object at 0x7eff6d25be20]

Load Effect 3:  9 row(s) of IntervalStatistics object at 0x7eff6d21fc40

Load Effect 1:  9 row(s) of IntervalStatistics object at 0x7eff6d21fb50

Load Effect 2:  9 row(s) of IntervalStatistics object at 0x7eff6d21eb90

Load Effect 4:  9 row(s) of IntervalStatistics object at 0x7eff6d25be20

In [10]:
bm_event = read_block_maxima_event_separated_vehicles_file(froot="./", bridge_length=np.sum(bridge.L), file_format="MON")
display(bm_event)
for i in bm_event:
    display(i)

[20 x BlockMaximaEvent object at 0x7eff6d0236a0,
 40 x BlockMaximaEvent object at 0x7eff6d25b820,
 40 x BlockMaximaEvent object at 0x7eff6d0233d0]

20 x BlockMaximaEvent object at 0x7eff6d0236a0

40 x BlockMaximaEvent object at 0x7eff6d25b820

40 x BlockMaximaEvent object at 0x7eff6d0233d0

In [11]:
read_block_maxima_event_mixed_vehicles_file(froot="./", bridge_length=np.sum(bridge.L), file_format="MON")

40 x BlockMaximaEvent object at 0x7effd3f6e620

In [12]:
bm_summary = read_block_maxima_summary_file(froot="./", bridge_length=np.sum(bridge.L))
for i in bm_summary:
    display(i)

Load Effect 3:  10 row(s) of BlockMaximaSummary object at 0x7effba1dd8d0

Load Effect 4:  10 row(s) of BlockMaximaSummary object at 0x7effba1dd780

Load Effect 2:  10 row(s) of BlockMaximaSummary object at 0x7effba1de980

Load Effect 1:  10 row(s) of BlockMaximaSummary object at 0x7eff6d021750

In [13]:
from PyBTLS.py.vehicle.vehicle import Vehicle
Vehicle(path="Vehicles.txt", file_format="MON")

,head,day,month,year,hour,minute,second,num_axle,num_axle_groups,gvw,...,AW11,AS11,AW12,AS12,AW13,AS13,AW14,AS14,AW15,AS15
0,1001,1,1,2010,0,0,17.411,4,0,25924.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001,1,1,2010,0,0,26.556,4,0,26507.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001,1,1,2010,0,0,36.709,4,0,37420.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001,1,1,2010,0,0,41.751,5,0,55439.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001,1,1,2010,0,0,52.506,5,0,25512.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102596,1001,10,1,2010,23,59,21.221,4,0,38346.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102597,1001,10,1,2010,23,59,32.264,4,0,38399.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102598,1001,10,1,2010,23,59,47.763,4,0,32010.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102599,1001,10,1,2010,23,59,57.752,5,0,48898.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102600,1001,11,1,2010,0,0,2.982,5,0,31821.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0